<div class="global-mobile-nav-top show-for-small-only">
    <nav class="checkout-header header">
        <div class="row">
            <div class="small-3 columns">
                <div class="icon-items">
                    Back
                </div>
            </div>
            <div class="small-6 columns">
                <div class="mobile-logo title-items text-center">
                    Checkout
                </div>
            </div>
            <div class="small-3 columns">
                <div class="row small-up-2">
                    <div class="columns">
                        <div class="icon-items">
                            ...
                        </div>
                    </div>
                    <div class="columns">
                        <div class="icon-items">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="header-bar">
        this is bar
    </div>
</div>
