<div class="global-mobile-nav-top show-for-small-only">
        <nav class="experience-header header">
            <div class="row">
                <div class="small-2 columns">
                    <div class="icon-items">
                       <img src="https://via.placeholder.com/50x50" alt="">
                    </div>
                </div>
                <div class="small-8 columns">
                    <div class="logo-container">
                            <div class="header-label">Wearinasia</div>
                            <div class="mobile-logo title-items text-center">
                                Experience
                            </div>
                        
                    </div>
                    
                </div>
                <div class="small-2 columns">
                    <div class="row small-up-2">
                        <div class="columns">
                            <div class="icon-items">
                                ...
                            </div>
                        </div>
                        <div class="columns">
                            <div class="icon-items">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="header-bar">
            this is bar
        </div>
    </div>
    
    
    
    <div class="global-mobile-nav-top show-for-small-only">
            <nav class="goods-header header">
                <div class="row">
                    <div class="small-2 columns">
                        <div class="icon-items">
                           <img src="https://via.placeholder.com/50x50" alt="">
                        </div>
                    </div>
                    <div class="small-8 columns">
                        <div class="logo-container">
                                <div class="header-label">Wearinasia</div>
                                <div class="mobile-logo title-items text-center">
                                    Goods
                                </div>
                            
                        </div>
                        
                    </div>
                    <div class="small-2 columns">
                        <div class="row small-up-2">
                            <div class="columns">
                                <div class="icon-items">
                                    ...
                                </div>
                            </div>
                            <div class="columns">
                                <div class="icon-items">
                                    ...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="header-bar">
                this is bar
            </div>
        </div>
        
        <div class="global-mobile-nav-top show-for-small-only">
                <nav class="journal-header header">
                    <div class="row">
                        <div class="small-2 columns">
                            <div class="icon-items">
                               <img src="https://via.placeholder.com/50x50" alt="">
                            </div>
                        </div>
                        <div class="small-8 columns">
                            <div class="logo-container">
                                    <div class="header-label">Wearinasia</div>
                                    <div class="mobile-logo title-items text-center">
                                        Journal
                                    </div>
                                
                            </div>
                            
                        </div>
                        <div class="small-2 columns">
                            <div class="row small-up-2">
                                <div class="columns">
                                    <div class="icon-items">
                                        ...
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="icon-items">
                                        ...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header-bar">
                    this is bar
                </div>
            </div>
            