<nav class="global-mobile-nav-top show-for-small-only">
    <div class="row">
        <div class="small-2 columns">
            <div class="icon-items">
                Menu
            </div>
        </div>
        <div class="small-8 columns">
            <div class="mobile-logo title-items text-center">
                logo
            </div>
        </div>
        <div class="small-2 columns">
            <div class="row small-up-2">
                <div class="columns">
                    <div class="icon-items">
                        ...
                    </div>
                </div>
                <div class="columns">
                    <div class="icon-items">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="promo-bar">
    <h6>This is promo bar! click here</h6>
</div>

