//foundation-override

.row.collapse{max-width: 100%;}

.row{
  @include breakpoint(small only) {
    max-width: 95%;
    
  }
}

//border
.border-top{
  border-top:1px solid $medium-gray
}
.border-bottom{
  border-bottom:1px solid $medium-gray
}

//table
table tbody tr td{
  padding:0.3rem 0;
  margin: 0;
}

//typography



.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;


  .item-50 {
    flex: 0 0 50%;
    margin-right: 5px;
    margin-left: 5px;
  }
  .item-75 {
    flex: 0 0 75%;
    margin-right: 5px;
    margin-left: 5px;
  }

        }


//background

.grey-bg{
  background: $medium-gray;
}


//button



  //padding
  @mixin padding-center {
    padding: 2rem 0;
    @include breakpoint(small only) {
      padding: 1rem 0;
    }
  }
  

  .padding-center{
    @include padding-center();
  }
  //position
  .top-25{top:25% !important}
  .top-10{top:10% !important}

  .left-10{left:10% !important}
  .left-25{left:25% !important}

  .bottom-10{bottom:10% !important}
  .bottom-25{bottom:25% !important}
  
  .right-10{right:10% !important}
  .right-25{right:25% !important}

  //margin
.margin-bottom-0{margin-bottom: 0}
.margin-bottom-1{margin-bottom: 1rem}
.margin-bottom-2{margin-bottom: 2rem}
.margin-bottom-3{margin-bottom: 3rem}
.margin-bottom-4{margin-bottom: 4rem}

.margin-top-0{margin-top:0}
.margin-top-1{margin-top:1rem}
.margin-top-2{margin-top:2rem}
.margin-top-3{margin-top:3rem}
.margin-top-4{margin-top:4rem} 

//border
.border-bottom{
  border-bottom: 1px solid $medium-gray
}


//overlay
@mixin overlay-content{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin overlay-filter($property){
  background:  $property;
}

  //section
  @mixin section {
      
          
      }
  
  .section-black{
    @include section();
    background: $black;
    h1,h2,h3,h4,h5,h6,p {
        color: $light-gray !important;
        
    }
    a{
        color: $light-gray !important;
        &:hover{
            color: $primary-color;
        }
    }

    
  }
