.category-navigation-container{
    .category-header{
        
       text-align:center;
        margin-top: $global-margin;
        h1{
            font-size:17px;
            text-transform: uppercase;
        }

    }
    
}


.filter-toggle-container .button{
    font-family: $cursive;
    font-style: italic;
}