//checkout sidebar
.checkout-sidebar-container {
    padding: 2rem;
    background: $white;
    @include breakpoint(small only) {
        padding: $global-padding;
    }
    .review-table-container {
        table {
            font-size: 14px;
            @include breakpoint(small only) {
                font-size: 10px;
            }
            .review-info {
                text-align: left;
            }
            .review-value {
                text-align: right;
            }
            tfoot {
                border-top: 1px solid $medium-gray;
                tr td {
                    padding: 1rem 0;
                }
            }
        }
    }
    .order-summary-container,.voucher-container,.review-table-container{
        margin-bottom:1rem;
    }
   
}

.small-order-summary-container{
    padding:$global-padding;
}

.checkout-sidebar-container-bottom {
    padding: 2rem;
    background: $light-gray;
    @include breakpoint(small only) {
        padding: $global-padding;
    }
   
}

//chekout cartpage
.cart-table-container {
    padding: 2rem;
    background: $white;
    margin-bottom: 2rem;
    @include breakpoint(small only) {
        padding: $global-padding;
    }
    .cart-table-header {}
    .cart-list-container {}
}


.checkout {
    
    .shipping-address-container {
        padding: 2rem;
        background: $white; //padding: $global-padding;
        margin-bottom: $global-margin;
        @include breakpoint(small only) {
            padding:$global-padding;
        }
        .address-list-container {
            padding-top: $global-padding;
            margin-bottom: 2rem;
        }
        .shipping-list-container{
            margin-bottom: 2rem;
        }
    }

    .payment-method-container {
        background: $white;
        padding: 2rem;
        margin-bottom: $global-margin;
        @include breakpoint(small only) {
            padding:$global-padding;
        }
        .payment-method-header {}
        .payment-list-container {
            .card-list-content {
                border-bottom: 1px solid $medium-gray;
                padding: 1rem 0rem;
                input {
                    vertical-align: text-top
                }
            }
        }
    }
}