// Footer

.footer{
    .menu{
        a{
            font-size: 12px !important;
          
            
        }
        margin-bottom: $global-margin;
    
    }
    h5{
        text-transform:uppercase !important;
        font-size: 12px;
        margin-bottom:1rem;
    }

}

.small-footer{
    border-top:1px solid #444444;
    padding-top:$global-padding;
}