// Global Navigations
.mini-top-bar{
    @include top-bar-container;
    font-weight: $global-weight-bold;
    background-color:$light-gray !important;
    .top-bar-left,.top-bar-right{
        a
        {
            color:$black;
            font-size:10px;
            @include text-transform(uppercase);
            
            padding: 0.3rem 1rem;
            &:hover {
                color:$primary-color;
            }
            

        }
        .menu{background:none}
        
    }
    
  }

  .top-bar{
      border-bottom:1px solid $medium-gray;
      font-weight: $global-weight-bold;
    .top-bar-left{
        a{
            @include text-transform(uppercase);
            color: $black;
            font-size: 12px;
        }
    
    }
    .top-bar-right{
        a{
            @include text-transform(uppercase);
            color: $black;
            font-size: 12px;
        }
    
    }
  
  }


//navigation subcategory
.navigation-vertical-bar{
    @include top-bar-container;
    border-bottom: 1px solid $medium-gray;
    padding: 0;
    margin-bottom: 0.5rem;
    .top-bar-left{
        
        a{
            font-size:12px;
            text-transform:uppercase;
            font-weight: $global-weight-bold;
            line-height: 3rem;
            color: $black;
            &:hover{
                color: $primary-color;
            }
            margin-right:1rem;
            padding:0rem;
        }
    
    }
    .top-bar-right{
        a{
            font-size:12px;
            font-family: $cursive;
            font-style: italic;
            font-weight: $global-weight-bold;
            line-height: 3rem;
            color: $black;
            &:hover{
                color: $primary-color;
            }
            margin-right:0rem;
        }
    
    }
}

//navigation sidebar

.navigation-sidebar{
    margin-bottom: $global-margin;

    h5{text-transform: uppercase;margin-bottom: 1rem;font-size:14px}
    .menu{
        a
        {
            font-size: 14px;
            color: $black;
            &.hover{
                color: $medium-gray;
            }
        }
    }
}



//mobile-global-navigation

.global-mobile-nav-top{
    
    
    box-shadow: 0px 3px 6px $medium-gray;
    .header{
        padding: 0.5rem 0;
    }


    .logo-container{
        padding: 0.5rem 0;
        .title-items{
            font-size: 17px;
            text-transform: uppercase;
            font-weight: $global-weight-bold;
            margin: 0;
            line-height: 1;
        }
        .header-label{
            text-transform: uppercase;
            font-size: 8px;
            font-weight: $global-weight-normal;
            letter-spacing: uppercase;
            text-align: center;
            letter-spacing: 2px;
            margin: 0;
            line-height: 1;
    
        
    
        }
    }
    .logo-items{
        font-size: 14px;
       
        font-weight: $global-weight-normal
    }
    .icon-items{
        font-size: 14px;
        padding: 0.7rem 0;;
        font-weight: $global-weight-normal
    }
    .back-items{
        font-size: 14px;
        padding: 0.7rem 0;
        font-weight: $global-weight-normal
    }

    .checkout-header{

    }
    .experience-header{
       
    }
    .header-bar{
        background:$light-gray;
        padding: 5px;
        text-align:center;
        margin:0;
    }


}

.global-mobile-nav-bottom{
    position: fixed;
    bottom:0;
    width:100%;
    background:$white;
    padding:0.5rem 0;
    border-top:1px solid $light-gray;
    text-align:center;
    .icon-items{
        
        font-weight: $global-weight-normal;
      
        
        .title,.icon{
            font-size:10px;
            color: $black;
            display:block;
            margin:0;
            
        }
    }
}



.promo-bar{
    background:$secondary-color;
    padding:0.5rem;
    color:$white;
    text-align: center;
    h6{
        margin: 0;
        font-size:10px;
        letter-spacing:1px;
        text-transform:uppercase
    }
}


//mobile filter container



.slideup-container{
    top: 100%;
    position: fixed;
    transition: all .5s ease-out;
    background: $white;
    left:0;
    right:0;
    height: 100%;
    z-index: 999999999999999;
    
    .caption{
        font-size: 14px;
       
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background:none;
        line-height: 3rem;
        margin: 0;
        font-weight: $global-weight-bold

    }
    ul>li{
        font-size: 14px
    }
    
}
.slideup-container.show{
    top: 0;
    display: block;
}



//navigation-horizontal-menu

.navigation-horizontal-menu{
    border-bottom: 1px solid $medium-gray;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    border-bottom:1px solid $medium-gray;
    .item{
        flex: 0 0 0;
        padding: 0 1rem;
        margin-left:0.5rem;
        a{
            color:$dark-gray;
            font-size: 12px;
            font-weight: $global-weight-bold;
            text-transform: uppercase;
            line-height: 2rem;
        }
       

    }
    .item.active{
        border-bottom: 2px solid $primary-color;
        a{
            color:$black;
        }
    }
}

.navigation-horizontal-menu::-webkit-scrollbar {
    width: 51px;
    height: 18px;
   // display:none;
    background-color: #aaa; /* or add it to the track */
  }



  //mobile-header




  //checkout header