.single-product-info{
    .stock-status{
        font-family: $cursive;
        font-style: italic;
        color: $primary-color;
        font-weight: 600
    }
    .product-info-title{
        margin-bottom: 2rem;
        h1{
            line-height:1.3;
        }
        h5{
            color:$dark-gray;       
        }
        
        
        @include breakpoint(small only) {
            text-align:center;
            
          }
    }
    
    .product-info-order{
        .product-info-order-buy{
            .price{
                font-size:25px;
                font-weight: $global-weight-bold;
                margin:0;
                @include breakpoint(small only) {
                    font-size:17px;
                    
                  }
            }
        }
    }

    .product-info-sidebar{
        .product-usp-item{
            margin-bottom:$global-margin;
            text-align:center;
            .review-summary{
                font-size:35px;
                font-weight: $global-weight-bold;
                margin:0
            }
            
            .title{
                font-size:10px;
                color:$dark-gray;
                
            }
        }
    }
}

.single-product-details{
   .accordion{
       
      .accordion-title{
          text-transform: uppercase;
          font-size:12px;
          border-bottom:1px solid $medium-gray;
          font-weight: $global-weight-bold;
          color:$black;
          
      }
      .accordion-content{
          padding:1rem 0;
          border-bottom:1px solid $medium-gray;
      }
      .accordion-item.is-active{
        .accordion-title{
            border-bottom:none;
        }
    }
   }
}

.single-product-review{
    background:$light-gray;
    .tabs,.tabs-content{
        background:none;
    }
    .tabs{
        margin-bottom:1rem;
    }
    .tabs-panel{
        padding:0;
    }
    .review-list-container{
        margin-bottom:1rem;
        .review-photo img{
            border-radius:50%;
        }
        .review-name{
            font-size:12px;
            font-weight: $global-weight-bold;
            
        }
        .review-title{
            font-size:12px;
        }
        .review-content,.review-content p{
            font-size:12px;
            font-family: $cursive;
            font-style: italic;
            margin-bottom: $global-margin;
        }
        .review-date{
            font-size: 10px;
        }
         
    }

}