


  

.hero-banner-container{
    @include position(relative,0 ,0 ,0 ,0 );
    .hero-banner-content{
        @include overlay-content();
        @include overlay-filter(rgba(0,0,0,0.1));
        padding: 10%;
        h5{font-family: $cursive;
        font-style:italic;font-size:16px}
        h6{
        font-size:25px;
        font-weight: $global-weight-normal}
    }
    


}

