
//product-goods
.card-product-goods{
    text-align:center;
    padding: 2rem;
    border: 1px solid $light-gray;
    margin-bottom:2rem;
    @include breakpoint(small only) {
        padding:1rem 0.5rem;
        margin-bottom:1.5rem;
    }
    &:hover{
        border: 1px solid $medium-gray;
    }
    .card-image{
        margin-bottom:$global-margin;
        
    }
    .card-content{
        
        .product-title{
            h5,h5 a{
                font-size: 12px;
                color:$dark-gray;
                margin:0;
                font-family: $cursive;
                text-transform: capitalize;
                font-style: italic;
                @include breakpoint(small only) {
                    font-size: 10px;
                }

            }
            h2,h2 a{
                font-size: 14px;
                color:$black;
                text-transform: uppercase;
                @include breakpoint(small only) {
                    font-size: 12px;
                }

                
            }
        }
        .product-price{
           
            .final-price{
                font-size:12px;
                display: block;
                font-weight: $global-weight-bold;
                margin:0;
                color:$primary-color;
                @include breakpoint(small only) {
                    font-size: 10px;
                }
            }
            .installment{
                font-size:10px;
                display: block;
                @include breakpoint(small only) {
                    font-size: 8px;
                }
            }
        }
    }
}










//new modif

.card{
    h5{
        font-size:10px;
        text-transform: uppercase;
    }
    h2,h2 a{
        font-size:14px;
        color:$black;
        margin:0;
        line-height:20px;
    }
    p{font-size: 12px;
    font-family: $cursive;
    font-style: italic;
    }
    
    //card host
    .card-host{
        .card-image{
            position: relative;
            min-height: 180px;
            .card-image-content{
                position: absolute;
                top:0;
                left: 0;
                right:0;
                bottom:0;
                background: rgba(0,0,0,0.3);
                .top-left{
                    left:0;
                    padding:5%;
                    position: absolute;
                    color:$white;
                    .location{
                        font-size:14px;
                        font-weight: $global-weight-bold;
                    }
                    .duration{
                        font-size: 12px;
                        font-weight: $global-weight-normal;
                    }

                
                }
                .top-right{
                    right:0;
                    position: absolute;
                    .status{
                        font-size:12px;
                        background:$primary-color;
                        color:$white;
                        padding:5px 7px;
                        font-weight: $global-weight-bold;
                    }
                }

                

            }
            
        }
        .card-content{
            padding:0.5rem 0;
            .host-image{
                padding:.75rem;
                img{
                    border-radius:100%;
                }
            }
            .exp-desc{
                padding:0.5rem 0
            }
    
            .exp-price{
                
                font-style: italic;
                font-family: $cursive;
                padding:0.5rem 0;
                .price-label{
                    font-size: 8px;
                }
                .price-value{
                    font-size: 10px;
                
                    font-weight: $global-weight-bold
                }
    
            }
            
        }
    }

    .featured-host.card-host{
        .exp-price{
             border-left:1px solid $medium-gray;
           
        }
    }
    .card-host-view.card-host{
        h1{
            font-size:21px;
            color:$black;
            margin:0;
            line-height:25px;
        }
        h5{
            font-size:14px;
            color:$dark-gray
        }
        .host-image{
            padding:1.5rem .5rem;
            
        }
        .exp-desc{
            padding: 0.5rem;
        }
        .exp-price{
            padding-left: 1rem;
            .price-value{
                font-size: 12px;
                line-height: 15px;
            }
            
        }
    }

    //card brand
    .card-brand{
        .card-image{
            
        }
        .card-content{
            padding: 0.5rem 0;
            .brand-name{
                padding:0.3rem 0;
            }
        }
        
    }

    //card place
    .card-place{
        position: relative;
        .card-content{
            position: absolute;
            top: 0;
            left: 0;
            bottom:0;
            right: 0;
            background:rgba(0,0,0,0.3);
            .bottom{
                position: absolute;
                bottom:0;
                color:$white !important;
                padding: 5%;

            }
        }
    }
    
    //card experience
    

    //card goods
    .editor-pick.card-goods{
        .caption{
            text-align: center;margin-bottom: 1.5rem;
        }
        h5{
            margin: 0;
            color: $dark-gray;
        }
        h2{margin-bottom: 10px;}
        .price{
            font-size: 12px;
        }
        h3{
            font-size:20px;
            text-transform: uppercase;
            margin: 0;
        }
        p{margin: 0;line-height: 1}
        
        padding: 1.5rem 1rem;
        border: 1px solid $medium-gray;
        
    }


    //card hero
    .card-hero{
        position: relative;
        h5{
            font-size:12px;
            text-transform: uppercase;
        }
        h2,h2 a{
            font-size:20px;
            color:$black;
            margin-bottom:5px;
            line-height:25px;
        }
        p{font-size: 14px;
        font-family: $cursive;
        font-style: italic;
        }
        
    }
    .fullwidth-bottom-cta.card-hero{
        .card-content{
            text-align: center;
            padding: 10% 10%;
            h5{
                color:$dark-gray;
            }
            p{
                color:$black-gray;
            }
        }
    }
    
    .fullwidth-overylay-cta.card-hero{
        .card-content{
           
            position: absolute;
            min-height: 180px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 15% 10%;
            background: rgba(0,0,0,0.3);
            text-align:center;
            h5,h2,p,a{
                color:$white !important;
            }

        }
    }
    .fullwidth-no-cta.card-hero{
        .card-content{
            position: absolute;
            min-height: 180px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20% 10%;
            background: rgba(0,0,0,0.3);
            text-align:center;
            h5,h2,p,a{
                color:$white !important;
            }

        }
    }
   
    
}
