.form{
    .form-group{
        .caption{
            font-size: 14px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            background:none;
            line-height: 3rem;
            margin: 0;
    
        }
        input{
            border-bottom:1px solid $medium-gray;
            box-shadow: none;
            
            font-size: 14px;
            padding: 0.5rem 0;
            margin-bottom: 1rem;
            
        }
       
           
        label{
            font-size:12px;
            color:$dark-gray;
        }
        
    }
}