.list{
    margin-bottom: 1rem;
   
    .list-group{
        
        margin: 0;
        .caption{
            font-size: 14px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            background:none;
            line-height: 3rem;
            margin: 0;
    
        }
        .list-item{
            background:white;
            border-bottom: 1px solid $medium-gray;
            padding: 0.5rem 0;
            label{
                cursor: pointer;
            }
            .title{
                font-size: 14px;
                color: $black;
                line-height: 17px;
                font-weight: $global-weight-bold;
            }
            .desc{
                font-size: 12px;
                font-weight: $global-weight-normal;
                color: $dark-gray;
            }
            .icon{
                color: $dark-gray;
                padding: 0.5rem;
            }
        }

    }
    .list-group.no-bg{
        background: none;
    }

    .list-group-cart.list-group{
        .list-item{
            padding: 1rem 0;
            
        }
        .image{
            padding: 1.5rem 0;
        }
        .brand-name{
            color:$dark-gray;
            font-size:10px;
            text-transform: uppercase;
            font-weight: $global-weight-normal;


        }
        .price{font-size: 12px;
            font-weight: $global-weight-bold}

    }
    
    
}