
<div class="reveal" id="shipping-method-modal" data-reveal data-close-on-click="false">
        <h3>Select Creditcard</h3>
        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>

        <ul class="no-bullet">
                <li>
                        <label for="pokemonRed">
                                <div class="card-list-content white-bg">
                                        <div class="row small-collapse">
                                                
                                                <div class="small-9 columns">
                                                        <h5>Freeshipping</h5>
                                                        <p>Free standard delivery. Estimated shipping 3 - 5 working days
                                                        </p>

                                                </div>
                                                <div class="small-3 columns text-right">
                                                       Rp 13.000.00

                                                </div>
                                                
                                        </div>

                                </div>
                        </label>
                </li>
                <li>
                        <label for="pokemonRed">
                                <div class="card-list-content white-bg">
                                        <div class="row small-collapse">
                                                
                                                <div class="small-9 columns">
                                                        <h5>Freeshipping</h5>
                                                        <p>Free standard delivery. Estimated shipping 3 - 5 working days
                                                        </p>

                                                </div>
                                                <div class="small-3 columns text-right">
                                                       Rp 13.000.00

                                                </div>
                                                
                                        </div>

                                </div>
                        </label>
                </li>
                <li>
                        <label for="pokemonRed">
                                <div class="card-list-content white-bg">
                                        <div class="row small-collapse">
                                                
                                                <div class="small-7 columns">
                                                        <h5>Freeshipping</h5>
                                                        <p>Free standard delivery. Estimated shipping 3 - 5 working days
                                                        </p>

                                                </div>
                                                <div class="small-5 columns text-right">
                                                       Rp 13.000.00

                                                </div>
                                                
                                        </div>

                                </div>
                        </label>
                </li>
                
        </ul>



        <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
        </button>
</div>