<div class="reveal" id="address-list-modal" data-reveal data-close-on-click="false">
        <h3>Change Address</h3>
        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>



        <ul class="no-bullet">
                <li>
                        <label for="pokemonRed">
                                <div class="card-list-content white-bg">
                                        <div class="row small-collapse">

                                                <div class="small-10 columns">
                                                        <h5>Freeshipping</h5>
                                                        <p>Free standard delivery. Estimated shipping 3 - 5 working days
                                                        </p>

                                                </div>
                                                <div class="small-1 columns">
                                                        <input type="radio" name="pokemon" value="Red" id="pokemonRed"
                                                                required>

                                                </div>
                                        </div>

                                </div>
                        </label>
                </li>
        </ul>

        <button class="button tiny hollow secondary" data-open="new-address-modal">Add new address</button>


        <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
        </button>
</div>

<div class="reveal" id="new-address-modal" data-reveal data-close-on-click="false">
        <h3>Add New Address</h3>
        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>

        <form>
                <label>Address
                        <input type="text" placeholder=".medium-6.cell">
                </label>
                <label>Address
                        <input type="text" placeholder=".medium-6.cell">
                </label>
                <label>Address
                        <input type="text" placeholder=".medium-6.cell">
                </label>
                <label>Address
                        <input type="text" placeholder=".medium-6.cell">
                </label>
        </form>


        <button class="button secondary expanded hollow">Ship to this address</button>


        <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
        </button>
</div>