
<div class="category-navigation-container">
        <div class="row">
                <div class="medium-12 columns">
                        
                        {{> navigation-vertical-bar}}
                       
                </div>
                <div class="medium-12 columns">
                        <div class="category-header text-center">
                                <h1>Parrent Category</h1>
                        </div>
                   
                </div>
        </div>
</div>



<section id="category-goods-parrent" class="category-page main-content padding-center">
    
    <div class="row">
        <div class="medium-3 columns">
            {{> navigation-sidebar}}
        </div>
        <div class="medium-9 columns">

            <div class="row small-up-2 medium-up-3">
                {{#repeat 12}}
                <div class="columns">
                    {{> card-goods-product}}
                </div>
                {{/repeat}}
            </div>
            
        </div>
    </div>
</section>