{{> hero-banner-fullwidth}}
{{> featured-block-goods-category}}
<section id="category-goods-parrent" class="category-page main-content padding-center">
    <div class="row">
        <div class="medium-12 columns">
                {{> navigation-vertical-bar}}
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns">
            {{> navigation-sidebar}}
        </div>
        <div class="medium-9 columns">
            <div class="row medium-up-3">
                {{#repeat 12}}
                <div class="columns">
                    {{> card-goods-product}}
                </div>
                {{/repeat}}
            </div>
            
        </div>
    </div>
</section>