---

layout: checkout

---




<div class="small-order-summary-container show-for-small-only">
        <h5>Product in cart</h5>
        <p>2 Items <a href="#" data-open="mini-cart-modal">View Details</a></p>

</div>
<section id="checkout-cart" class="checkout padding-center grey-bg">
    <div class="row small-collapse medium-uncollapse">
        <div class="medium-8 columns">

<input type="text">

            <div class="shipping-address-container">
                <div class="shipping-address-header">
                    <h2>Address</h2>

                    <p>This is address information, please please please,This is address information, please please
                        please,This is address information, please please please</p>

                </div>

                <div class="address-list-container">
                    <div class="address-list-item">
                        <h5>Ship to</h5>
                        
                        <p>Jl. Pinus 1 no 58, taman royal 1, cipondoh, tangerang</p>
                    </div>
                    <button class="button secondary hollow tiny" data-open="address-list-modal">Add address /
                        change</button>
                
                </div>

              


                
                    <div class="shipping-list-container">
                            <h5>Choose shipping method</h5>
                        <div class="row small-collapse medium-collapse medium-up-1">
                            <div class="columns">
    
                              <select name="" id="" data-open="shipping-method-modal"></select>
    
                            </div>
                            
    
                        </div>
                    </div>
            </div>

           
            <div class="payment-method-container">
                <div class="payment-method-header">
                    <h2>Payment Method</h2>
                    <p>This is address information, please please please</p>

                </div>
                <div class="payment-list-container">
                    <div class="row small-collapse medium-collapse medium-up-1">
                        <div class="columns">

                                <div class="card-list-content pointer white-bg" data-open="payment-method-modal">
                                        <div class="row small-collapse">
    
                                            <div class="small-11 columns">
                                                <h5>Credit Card</h5>
                                                <p>Get this product by 4 pm today Get this product by 4 pm today. <a
                                                        href="#">See delivery
                                                        and return info</a> </p>
    
                                            </div>
                                            <div class="small-1 columns">
                                                >
                                            </div>
                                        </div>
    
                                    </div>

                        </div>
                        <div class="columns">

                            <label for="pokemonRed">
                                <div class="card-list-content white-bg">
                                    <div class="row small-collapse">

                                        <div class="small-11 columns">
                                            <h5>Credit Card</h5>
                                            <p>Get this product by 4 pm today Get this product by 4 pm today. <a
                                                    href="#">See delivery
                                                    and return info</a> </p>

                                        </div>
                                        <div class="small-1 columns">
                                            <input type="radio" name="pokemon" value="Red" id="pokemonRed" required>

                                        </div>
                                    </div>

                                </div>
                            </label>

                        </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="medium-4 columns">
            <div class="checkout-sidebar-container">
                <h3>Review your order</h3>
                <div class="order-summary-container show-for-medium">

                    <h5>Product in cart</h5>
                    <p>2 Items ( view details )</p>




                </div>




                <div class="voucher-container">
                    <h5>Promo Code</h5>
                    <p class="small-text">Please insert promo code below</p>
                    <input type="text">
                </div>
                <div class="review-table-container">
                    <h5>Order Summary</h5>
                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    Subtotal
                                </td>
                                <td class="review-value">
                                    Rp 13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td class="review-info">
                                    Shipping
                                </td>
                                <td class="review-value">
                                    Rp 13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td class="review-info">
                                    Voucher Discount
                                </td>
                                <td class="review-value">
                                    - Rp 13.000,00
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="review-info">
                                    Total</td>
                                <td class="review-value">
                                    Rp 13.000,00</td>
                            </tr>
                        </tfoot>
                    </table>
                    <a href="#" class="button expanded">
                        Process Checkout
                    </a>
                    <p class="tiny-text">By placing an order your are agree to our terms and conditions</p>
                </div>

            </div>
            <div class="checkout-sidebar-container-bottom">
                <div class="payment-method-group">
                    <h5>Secure Payment</h5>
                    <div class="row small-up-5">
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{{> modal-address-list}}
{{> modal-shipping-method}}
{{> modal-payment-method}}