<section id="checkout-cart" class="checkout padding-center grey-bg">
    <div class="row small-collapse medium-uncollapse">
        <div class="medium-8 columns">

            <div class="cart-table-container">
                    <div class="cart-header">
                            <h2>Shopping Cart</h2>
                            
                        </div>
                <div class="cart-list-container">
                    
                    
                    <ul class="no-bullet">
                        {{#repeat 2}}
                        <li>
                            {{> card-goods-cart-list}}
                        </li>
                        {{/repeat}}
    
                    </ul>
                </div>
            </div>
            


            <div class="cart-usp-container">
                <div class="row small-collapse medium-collapse medium-up-1">
                    <div class="columns">
                        <div class="card-list-content white-bg margin-bottom-1">
                            <h5>Express delivery available</h5>
                            <p>Get this product by 4 pm today Get this product by 4 pm today. <a href="#">See delivery
                                    and return info</a> </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="card-list-content white-bg margin-bottom-1">
                            <h5>Express delivery available</h5>
                            <p>Get this product by 4 pm today Get this product by 4 pm today. <a href="#">See delivery
                                    and return info</a> </p>
                        </div>
                    </div>

                </div>

            </div>



        </div>
        <div class="medium-4 columns">
            <div class="checkout-sidebar-container">
               
               <div class="review-table-container">
                    <h5>Subtotal</h5>
                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    Subtotal
                                </td>
                                <td class="review-value">
                                    Rp 13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td class="review-info">
                                    Shipping
                                </td>
                                <td class="review-value">
                                    Rp 13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td class="review-info">
                                    Voucher Discount
                                </td>
                                <td class="review-value">
                                    - Rp 13.000,00
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="review-info">
                                    Total</td>
                                <td class="review-value">
                                    Rp 13.000,00</td>
                            </tr>
                        </tfoot>
                    </table>
                    <a href="#" class="button expanded">
                        Process Checkout
                    </a>
                    <p class="tiny-text">By placing an order your are agree to our terms and conditions</p>
                </div>

            </div>
            <div class="checkout-sidebar-container-bottom">
                <div class="payment-method-group">
                    <h5>We Accept</h5>
                    <div class="row small-up-5">
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                        <div class="columns">
                            <span class="payment-logo">
                                <img src="https://via.placeholder.com/200x100" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>