<form action="#">
        <p>
          <label>
            <input class="with-gap" name="group1" type="radio"  />
            <span>Green</span>
          </label>
        </p>
        
      </form>
            

<h3>card-goods-product.html</h3>
{{> card-goods-product}}


<h3>mobile-header.html</h3>
{{> mobile-header}}

<h3>navigation-horizontal-menu.html</h3>
{{> navigation-horizontal-menu}}


<h3>navigation-mobile-filter.html</h3>
{{> navigation-mobile-filter}}



<div class="row">
    <div class="medium-12 columns">


<h3>card-editor-pick.html</h3>
{{> card-mobile-editor-pick}}


<h3>form-input.html</h3>
{{> form-input}}


    </div>
</div>


<h3>list-group-default.html</h3>
{{> list-group-default}}

<h3>list-group-input-with-icon.html</h3>
{{> list-group-input-with-icon}}

<h3>list-group-with-icon.html</h3>
{{> list-group-with-icon}}

<h3>list-group-cart.html</h3>
{{> list-group-cart}}





 

<h2>card-featured-host.html</h2>
<div class="scrolling-wrapper-flexbox">
    <div class="item-75">{{> card-featured-host}}</div>
    <div class="item-75">{{> card-featured-host}}</div>
    <div class="item-75">{{> card-featured-host}}</div>
    <div class="item-75">{{> card-featured-host}}</div>
    <div class="item-75">{{> card-featured-host}}</div>
    <div class="item-75">{{> card-featured-host}}</div>



</div>

<h3>card-featured-place.html</h3>

<div class="scrolling-wrapper-flexbox">
    <div class="item-50">{{> card-featured-place}}</div>
    <div class="item-50">{{> card-featured-place}}</div>
    <div class="item-50">{{> card-featured-place}}</div>
    <div class="item-50">{{> card-featured-place}}</div>
    <div class="item-50">{{> card-featured-place}}</div>
    <div class="item-50">{{> card-featured-place}}</div>


</div>


<div class="row">

    <div class="medium-12 columns">

        

        <h3>card-host-list.html</h3>
        {{> card-host-list}}





        <h3>card-host-edit.html</h3>
        {{> card-host-edit}}

        <h3>card-featured-brand-simple.html</h3>
        {{> card-featured-brand-simple}}


        <h2>card-featured-experience.html</h2>
        {{> card-featured-experience}}






    </div>
</div>

<h2>card-host-view.html</h2>
{{> card-host-view}}



<h2>card-fullwidth-overlay-cta.html</h2>
{{> card-fullwidth-overlay-cta}}


<h2>card-fullwidth-bottom-cta.html</h2>
{{> card-fullwidth-bottom-cta}}


<h2>card-fullwidth-no-cta.html</h2>
{{> card-fullwidth-no-cta}}
