<section id="product-goods-info" class="single-product-info padding-center">
    <div class="row">
        <div class="medium-6 columns">
            <div class="product-info-image">
                    <span class="stock-status show-for-small-only">Instock</span>

                <img src="https://wia.id/media/catalog/product/cache/1/small_image/1200x1000/9df78eab33525d08d6e5fb8d27136e95/g/-/g-sun-white-clay-sunglasses.jpg"
                    alt="product-info">
                                </div>
        </div>
        <div class="medium-5 columns">
            <div class="product-info-content-container">
               
                <div class="product-info-title">
                        <h5>Brand</h5>
                        <h1>Izipizi - This is product name - Red</h1>
                        <span class="stock-status show-for-medium">Instock</span>
                </div>
                <div class="product-info-order">
                    <div class="row">
                        <div class="small-6 medium-6 columns">
                            <div class="product-info-order-buy">
                                <div class="price">
                                    Rp 750.000,00
                                </div>
                                
                            </div>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <div class="product-info-order-usp">
                                <ul class="no-bullet card-list-container">
                                    <li>
                                        <div class="card-list-content">
                                                <h5>0% Installment</h5>
                                                <p>Up tp 3 month installment, pay Rp 300.000,00/ Month. <a href="#">See installment info</a></p>
                                        </div>
                                        
                                    </li>
                                   
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="small-12 columns">
                                <select name="" id="">
                                        <option value="">Select Size</option>
                                    </select>
                                    <a href="#" class="button primary expanded">
                                        Buy Now
                                    </a>
                        </div>
                    </div>
                </div>

                <div class="product-info-order-usp">
                        <ul class="no-bullet card-list-container">
                            <li>
                                <div class="card-list-content grey-bg">
                                        <h5>Express delivery available</h5>
                                        <p>Get this product by 4 pm today Get this product by 4 pm today. <a href="#">See delivery and return info</a> </p>
                                </div>
                                
                            </li>
                            
                            
                        </ul>
                    </div>
                

            </div>

        </div>
        <div class="medium-1 columns show-for-medium">
            <div class="product-info-sidebar">
                <ul class="no-bullet product-usp">
                    <li class="product-usp-item">
                        <div class="rating-container">
                                <div class="review-summary">
                                        4.0
            
                                    </div>
                                    <div class="review-rating-star">
                                        ...
                                    </div>
            
                        </div>
                        
                        <div class="title">
                                Ratings
                            </div>
                    </li>
                    <li class="product-usp-item">
                        <img src="https://via.placeholder.com/100x100" alt="">
                        <div class="title">
                                Ratings
                            </div>
                        
                    </li>
                    <li class="product-usp-item">
                        <img src="https://via.placeholder.com/100x100" alt="">
                        <div class="title">
                               Freeshipping
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
</section>


<section id="product-goods-order-information" class="single-product-details padding-center show-for-medium">

    <div class="row">
        <div class="medium-4 columns">
            <h2>Order Information</h2>
        </div>
        <div class="medium-8 columns">
            <div class="row medium-up-2">
                <div class="columns">
                    <h5>Shipping Information</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam incidunt facere velit
                        eos. Nisi eveniet, aliquid soluta, dolore veritatis sint atque amet dolor quibusdam harum
                        architecto praesentium eum laudantium!</p>
                    <div class="row medium-up-2">
                        <div class="columns">
                            <p>Gojek</p>
                        </div>
                        <div class="columns">
                            <p>Gojek</p>
                        </div>
                        <div class="columns">
                            <p>Gojek</p>
                        </div>
                        <div class="columns">
                            <p>Gojek</p>
                        </div>
                        <div class="columns">
                            <p>Gojek</p>
                        </div>
                        <div class="columns">
                            <p>Gojek</p>
                        </div>

                    </div>
                    <a href="#">Learn More</a>
                </div>
                <div class="columns">
                    <h5>Payment Information</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam incidunt facere velit
                        eos. Nisi eveniet, aliquid soluta, dolore veritatis sint atque amet dolor quibusdam harum
                        architecto praesentium eum laudantium!</p>
                    <div class="row medium-up-2">
                        <div class="columns">
                            <p>Credit Card</p>
                        </div>
                        <div class="columns">
                            <p>Credit Card</p>
                        </div>
                        <div class="columns">
                            <p>Credit Card</p>
                        </div>
                        <div class="columns">
                            <p>Credit Card</p>
                        </div>
                        <div class="columns">
                            <p>Credit Card</p>
                        </div>
                        <div class="columns">
                            <p>Credit Card</p>
                        </div>


                    </div>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
      
    </div>





</section>

<section id="product-goods-product-information" class="single-product-details padding-center">

    <div class="row show-for-medium">
        <div class="medium-4 columns">
            <h2>Product Information</h2>
        </div>
        <div class="medium-8 columns">

            <ul class="tabs" data-tabs id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Product Description</a></li>
                <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Warranty</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <h3>This is headline</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere,
                        eos facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex
                        nostrum id, ratione exercitationem ullam!</p>

                </div>
                <div class="tabs-panel" id="panel2">
                    <h3>Warranty</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere,
                        eos facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex
                        nostrum id, ratione exercitationem ullam!</p>

                </div>
            </div>

        </div>

        
    </div>

    <div class="row show-for-small-only">
            <div class="medium-12 columns">
                    <ul class="accordion" data-accordion>
                            <li class="accordion-item is-active" data-accordion-item>
                              <a href="#" class="accordion-title">Overview</a>
                              <div class="accordion-content" data-tab-content>
                                  <h3>This is overview headline</h3>
                                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere,
                                        eos facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex
                                        nostrum id, ratione exercitationem ullam!</p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title">Spesification</a>
                              <div class="accordion-content" data-tab-content>
                                Spesification
                              </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title">Warranty</a>
                              <div class="accordion-content" data-tab-content>
                                Panel 3. Lorem ipsum dolor
                              </div>
                            </li>
                          </ul>
            </div>
    </div>



</section>

<section id="product-goods-review" class="single-product-review padding-center border-bottom">
    <div class="row">
        <div class="medium-4 columns ">
                <h5>Customer Review</h5>
                <h2>See 4 Review from people buy this product</h2>

                <div class="tiny button-group">
                        <a class="button tiny secondary hollow">Add Review</a>
                        <a class="button tiny secondary hollow">Ask Question</a>
                       
                </div>
        </div>
        <div class="medium-8 columns">



            <ul class="tabs" data-tabs id="review-tabs">
                <li class="tabs-title is-active"><a href="#panel11" aria-selected="true">Review</a></li>
                <li class="tabs-title"><a data-tabs-target="panel12" href="#panel2">Discussion</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="review-tabs">
                <div class="tabs-panel is-active" id="panel11">
                    <div class="review-list-container">
                        <div class="row">
                            <div class="small-2 medium-1 columns">
                                <div class="review-photo">
                                        <img src="https://via.placeholder.com/100x100" alt="">
                                </div>

                            </div>
                            <div class="small-10 medium-11 columns">
                                <div class="review-name">
                                    Customer Name
                                </div>
                                <div class="review-title">
                                    This is title
                                </div>
                                <div class="review-content">
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere,
                                                eos facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex
                                                nostrum id, ratione exercitationem ullam!</p>
                                </div>
                                <div class="review-date">
                                    1 hour ago
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <a href="#" class="button secondary expanded tiny hollow">
                            View More Review
                    </a>
                </div>
                <div class="tabs-panel" id="panel12">
                        <div class="review-list-container">
                            <div class="row">
                                <div class="small-2 medium-1 columns">
                                    <div class="review-photo">
                                            <img src="https://via.placeholder.com/100x100" alt="">
                                    </div>
    
                                </div>
                                <div class="small-10 medium-11 columns">
                                    <div class="review-name">
                                        Customer Names
                                    </div>
                                    <div class="review-title">
                                        This is title
                                    </div>
                                    <div class="review-content">
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere,
                                                    eos facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex
                                                    nostrum id, ratione exercitationem ullam!</p>
                                    </div>
                                    <div class="review-date">
                                        1 hour ago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button secondary expanded tiny hollow">
                                View More Discussion
                        </a>
                    </div>
            </div>
        </div>
    </div>

</section>


{{> featured-block-goods-product}}

{{> featured-block-goods-brand}}