<section id="product-experience-info" class="single-product-info padding-center">
    <div class="row collapse">

        <div class="medium-12 columns">
            <div class="product-info-content text-center">
                <h5>Brand</h5>
                <h1>This is product name</h1>
                <p>This is tagline</p>
            </div>
            <div class="product-info-image">
                <img src="https://via.placeholder.com/2560x900" alt="">
            </div>

        </div>

    </div>
</section>

<section id="product-experience-details" class="single-product-details padding-center">
    <div class="row ">
        <div class="medium-4 columns">
            <div class="host-info">
                <h2>Amazing Host Experience with James</h2>
                <div class="row">
                    <div class="medium-4 columns">
                        ...
                    </div>
                    <div class="medium-8 columns">
                        <ul class="no-bullet">
                            <li>Location : Location</li>
                            <li>Duration : 3 Hours</li>
                            <li>Include : Food</li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>
        <div class="medium-8 columns">
            <h3>This is headline</h3>
            <h5>This is subheadline</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere, eos
                facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex nostrum id,
                ratione exercitationem ullam!</p>
                <h5>This is subheadline</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere, eos
                facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex nostrum id,
                ratione exercitationem ullam!</p>
        </div>
    </div>



</section>

<section id="product-experience-rules" class="single-product-details padding-center">

    <div class="row">
        <div class="medium-4 columns">
            <h2>House Rules</h2>
        </div>
        <div class="medium-8 columns">

            <div class="experience-include">
                <h3>Include</h3>
                <div class="row medium-up-2">
                    <div class="columns">
                        <h5>Items</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam incidunt facere velit
                            eos. Nisi eveniet, aliquid soluta, dolore veritatis sint atque amet dolor quibusdam harum
                            architecto praesentium eum laudantium!</p>
                    </div>
                    <div class="columns">
                        <h5>Items</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam incidunt facere velit
                            eos. Nisi eveniet, aliquid soluta, dolore veritatis sint atque amet dolor quibusdam harum
                            architecto praesentium eum laudantium!</p>
                    </div>
                </div>
            </div>
            <div class="experience-include">
                <h3>Exclude</h3>
                <div class="row medium-up-2">
                    <div class="columns">
                        <h5>Items</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam incidunt facere velit
                            eos. Nisi eveniet, aliquid soluta, dolore veritatis sint atque amet dolor quibusdam harum
                            architecto praesentium eum laudantium!</p>
                    </div>
                    <div class="columns">
                        <h5>Items</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam incidunt facere velit
                            eos. Nisi eveniet, aliquid soluta, dolore veritatis sint atque amet dolor quibusdam harum
                            architecto praesentium eum laudantium!</p>
                    </div>
                </div>
            </div>


        </div>
    </div>




</section>

<section id="product-experience-review" class="single-product-review padding-center border-bottom">
    <div class="row">
        <div class="medium-4 columns">
            <h2>Review Details</h2>
        </div>
        <div class="medium-8 columns">
            <ul class="tabs" data-tabs id="review-tabs">
                <li class="tabs-title is-active"><a href="#panel11" aria-selected="true">Review</a></li>
                <li class="tabs-title"><a data-tabs-target="panel12" href="#panel2">Discussion</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="review-tabs">
                <div class="tabs-panel is-active" id="panel11">
                    <h3>Review</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere,
                        eos facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex
                        nostrum id, ratione exercitationem ullam!</p>

                </div>
                <div class="tabs-panel" id="panel12">
                    <h3>Discussion</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere,
                        eos facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex
                        nostrum id, ratione exercitationem ullam!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{> featured-block-experience-host}}
{{> featured-block-experience-category}}
