<section id="featured-block-experience-host" class="featured-block padding-center">
    <div class="featured-block-header">
        <div class="row">
            <div class="medium-12 columns">
                <h2>Featured Experience Host</h2>
            </div>
        </div>
    </div>
    <div class="featured-block-content">
            <div class="row medium-up-3">
                    {{#repeat 3}}
                    <div class="columns">
                        {{> card-experience-host}}
                    </div>
                    {{/repeat}}
            </div>
    </div>
</section>