<section id="featured-block-goods-product" class="featured-block padding-center">
            <div class="featured-block-header">
                <div class="row">
                    <div class="medium-12 columns">
                        <h2>Featured Goods Product</h2>
                    </div>
                </div>
            </div>
            <div class="featured-block-content">
                    <div class="row small-up-1">
                            {{#repeat 3}}
                            <div class="columns">
                                {{> card-goods-product-landscape}}
                            </div>
                            {{/repeat}}
                    </div>
            </div>
        </section>