<section id="featured-block-goods-brand" class="featured-block padding-center">
    <div class="featured-block-header">
        <div class="row">
            
            <div class="medium-12 columns">
                <h2>Featured goods brand</h2>
                
            </div>
            {{#ifpage 'category-goods-child'}}
            <div class="medium-12 columns text-center">
                    
                    
                    <h5><a href="#">bact to parrent</a></h5>
                    <h1>Child Category</h1>
                    
            </div>
            {{/ifpage}}
        </div>
    </div>
    <div class="featured-block-content">
            <div class="row medium-up-3">
                    {{#repeat 3}}
                    <div class="columns">
                        {{> card-goods-brand}}
                    </div>
                    {{/repeat}}
            </div>
    </div>
</section>