<div class="form">
    <ul class="no-bullet form-group">
        <h5 class="caption">Form Group</h5>
        <li>
            <label>Input Label
                <input type="text" placeholder="input" class="required">
            </label>
        </li>
        <li>
                <label>Input Label
                    <input type="text" placeholder="input">
                </label>
            </li>
    </ul>
</div>