<nav class="navigation-vertical-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li>
              <a href="#">All Product</a>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
                <ul class="menu">
                        <li>
                          <a href="#">Show Filter</a>
                        </li>
                        
                </ul>
        </div>
</nav>
    
    