<div class="filter-toggle-container show-for-small-only">
        <div class="tiny button-group expanded">
                        <a class="button tiny secondary hollow">Filter</a>
                        <a class="button tiny secondary hollow">Sort</a>
                        <a class="button tiny secondary hollow">View</a>
                       
        </div>
</div>


<div id="category-sidebar" class="navigation-sidebar show-for-medium">
        <nav class="navigation-sidebar-list">
                <h5>Caption</h5>
                <ul class="menu vertical">
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                </ul>
        </nav>

        <nav class="navigation-sidebar-filter">
                <h5>Caption filter</h5>
                <ul class="menu vertical filter">
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                </ul>
        </nav>

</div>


    