
<nav class="global-mobile-nav-bottom show-for-small-only">
        <div class="row small-up-5">
            <div class="columns">
                <div class="icon-items">
                    <a href="">
                        <span class="icon"><img src="https://via.placeholder.com/20x20" alt=""></span>
                        <span class="title">Home</span>
                    </a>
                </div>
            </div>
            <div class="columns">
                <div class="icon-items">
                    <a href="">
                        <span class="icon"><img src="https://via.placeholder.com/20x20" alt=""></span>
    
                        <span class="title">Help</span>
                    </a>
                </div>
            </div>
            <div class="columns">
                <div class="icon-items">
                    <a href="">
                        <span class="icon"><img src="https://via.placeholder.com/20x20" alt=""></span>
    
                        <span class="title">Order</span>
                    </a>
                </div>
            </div>
            <div class="columns">
                <div class="icon-items">
                    <a href="">
                        <span class="icon"><img src="https://via.placeholder.com/20x20" alt=""></span>
    
                        <span class="title">Inbox</span>
                    </a>
                </div>
            </div>
            <div class="columns">
                <div class="icon-items">
                    <a href="">
                        <span class="icon"><img src="https://via.placeholder.com/20x20" alt=""></span>
    
                        <span class="title">Account</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>