<div class="mobile-filter">
        <div class="row small-up-3">
                <div class="columns">
                    <div class="button tiny expanded secondary">
                        Filter
                    </div>
                </div>
                <div class="columns">
                        <div class="button secondary tiny expanded">
                            Filter
                        </div>
                    </div>
                    <div class="columns">
                            <div class="button tiny expanded secondary">
                                Filter
                            </div>
                        </div>
            </div>
            
            <div class="slideup-container">
                <div class="row">
                    <div class="small-12 columns">
                            <div class="caption">Label</div>
                            <ul class="no-bullet">
                                <li>Option</li>
                                <li>Option</li>
                                <li>Option</li>
                                <li>Option</li>
                            </ul>
                            <div class="caption">Label</div>
                            <ul class="no-bullet">
                                <li>Option</li>
                                <li>Option</li>
                                <li>Option</li>
                                <li>Option</li>
                            </ul>
                            <div class="caption">Label</div>
                            <ul class="no-bullet">
                                <li>Option</li>
                                <li>Option</li>
                                <li>Option</li>
                                <li>Option</li>
                            </ul>
                    </div>
                </div> 
            </div>
</div>

