<div class="navigation-vertical-menu">
    <ul>
        <li class="item">
            <a href="">Menu</a>
        </li>
        <li class="item">
            <a href="">Menu</a>
        </li>
        <li class="item">
            <a href="">Menu</a>
        </li>
        <li class="item">
            <a href="">Menu</a>
        </li>
        <li class="item">
            <a href="">Menu</a>
        </li>
    </ul>
</div>