


<div class="full-width group-list-container">
    <h5>Caption</h5>
    <ul class="no-bullet">
            

            <li>
                    <div class="list-item white-bg border-bottom">
                            <div class="row">
                                    <div class="small-2 columns">
                                        <div class="icon">
                                                icon
                                        </div>
                                       
                                    </div>
                                    <div class="small-8 columns">
                                        <p class="title">Sameday Delivery</p>
                                        <p class="description">Estimate ship beetween 3 - 6 hours, Estimate ship beetween</p>
                                    </div>
                                    <div class="small-2 columns">
                                            icon
                                    </div>
                            </div>
                    </div>
                    
                </li>
        <li>
                <div class="list-item">
                        <div class="row">
                                <div class="small-2 columns">
                                    <div class="icon">
                                            icon
                                    </div>
                                   
                                </div>
                                <div class="small-8 columns">
                                    <p class="title">Sameday Delivery</p>
                                    <p class="description">Estimate ship beetween 3 - 6 hours, Estimate ship beetween</p>
                                </div>
                                <div class="small-2 columns">
                                        icon
                                </div>
                            </div>
                </div>
                
            </li>
    </ul>
</div>







<div class="full-width group-list-container">
        <h5>Caption</h5>
        <ul class="no-bullet">
                
    
                <li>
                        <div class="list-item white-bg border-bottom">
                                <div class="row">
                                        <div class="small-2 columns">
                                            <div class="icon">
                                                    icon
                                            </div>
                                           
                                        </div>
                                        <div class="small-8 columns">
                                            <p class="title">Sameday Delivery</p>
                                            <p class="description">Estimate ship beetween 3 - 6 hours, Estimate ship beetween</p>
                                        </div>
                                        <div class="small-2 columns">
                                                icon
                                        </div>
                                </div>
                        </div>
                        
                    </li>
            <li>
                    <div class="list-item">
                            <div class="row">
                                    <div class="small-2 columns">
                                        <div class="icon">
                                                icon
                                        </div>
                                       
                                    </div>
                                    <div class="small-8 columns">
                                        <p class="title">Sameday Delivery</p>
                                        <p class="description">Estimate ship beetween 3 - 6 hours, Estimate ship beetween</p>
                                    </div>
                                    <div class="small-2 columns">
                                            icon
                                    </div>
                                </div>
                    </div>
                    
                </li>
        </ul>
    </div>
    
    
    
    
    