<div class="list">
    
        <ul class="list-group-input-with-icon list-group no-bg">
            <div class="row">
                        <div class="small-12 columns">
                                <h5 class="caption">Label</h5>
                        </div>
            </div>
            
            <li>
                <div class="list-item">
                    <label for="input-name">
                        <div class="row">
                            <div class="small-2 columns">
                                        <div class="icon">
                                            icdas
                                        </div>
            
                            </div>

                            <div class="small-8 columns">
                                    <div class="title">Title</div>
                                    <div class="desc">This is description!</div>
                                    
        
                            </div>
                            <div class="small-2 columns">
                                <div class="icon">
                                        <input type="radio" id="input-name" class="radio-btn" name="input-name">
                                       
                                </div>
                            
                            </div>
                        </div>
                    </label>
                    
                </div>
            </li>
   
    
        </ul>
    </div>
