<div class="list">

    <ul class="list-group-cart list-group no-bg">
        <div class="row">
            <div class="small-12 columns">
                <h5 class="caption">cart list</h5>
            </div>
        </div>

        <li>
            <div class="list-item cart">

                <div class="row">
                    <div class="small-3 columns">
                        <div class="image">
                            <a href="">
                                    <img src="https://via.placeholder.com/300x300" alt="">
                       
                            </a>
                        </div>

                    </div>

                    <div class="small-7 columns">
                        <div class="brand-name">
                            Brand
                        </div>

                        <div class="title">

                           This is product name with brand
                        </div>


                        <div class="desc">Size : 10</br>
                        Color : Red
                        </div>

                        <div class="price">
                            Rp 7.000.000,00
                        </div>


                    </div>
                    <div class="small-2 columns">
                            <a href="">
                        <div class="icon">
                            
                                x
                            
                        </div>
                    </a>

                    </div>
                </div>


            </div>
        </li>

        <li>
                <div class="list-item cart">
    
                    <div class="row">
                        <div class="small-3 columns">
                            <div class="image">
                                <a href="">
                                        <img src="https://via.placeholder.com/300x300" alt="">
                           
                                </a>
                            </div>
    
                        </div>
    
                        <div class="small-7 columns">
                            <div class="brand-name">
                                Brand
                            </div>
    
                            <div class="title">
    
                               This is product name with brand
                            </div>
    
    
                            <div class="desc">Size : 10</br>
                            Color : Red
                            </div>
    
                            <div class="price">
                                Rp 7.000.000,00
                            </div>
    
    
                        </div>
                        <div class="small-2 columns">
                                <a href="">
                            <div class="icon">
                                
                                    x
                                
                            </div>
                        </a>
    
                        </div>
                    </div>
    
    
                </div>
            </li>

    </ul>
</div>