<div class="list">
    
    <ul class="list-group-default list-group no-bg">
        <div class="row">
                    <div class="small-12 columns">
                            <h5 class="caption">Label</h5>
                    </div>
        </div>
        
        <li>
            <div class="list-item">
                <a href="">
                <div class="row">
                    <div class="small-10 columns">
                            <div class="title">Title</div>
                            <div class="desc">This is description!</div>

                    </div>
                    <div class="small-2 columns">
                        <div class="icon">
                                ic
                        </div>
                       
                    </div>
                </div>
                </a>
                
            </div>
        </li>
        <li>
                <div class="list-item">
                    <a href="">
                    <div class="row">
                        <div class="small-10 columns">
                                <div class="title">Title</div>
                                <div class="desc">This is description!</div>
    
                        </div>
                        <div class="small-2 columns">
                            <div class="icon">
                                    ic
                            </div>
                           
                        </div>
                    </div>
                    </a>
                    
                </div>
            </li>

    </ul>
</div>