<div class="card">
        <div class="editor-pick card-goods">
    
            <div class="caption">
                <p class="damion">Editor's</p>
                <h3>Pick</h3>
            </div>
            <div class="row">
                <div class="small-5 columns">
                        <div class="card-image">
                                <a href="">
                                    <img src="https://wia.id/media/catalog/product/cache/1/small_image/500x350/9df78eab33525d08d6e5fb8d27136e95/f/2/f23548-326_0.jpg" alt="">
                                </a>
    
                        </div>
    
                </div>
                <div class="small-7 columns">
                        <div class="card-content">
                            <h5>Fjallraven</h5>
                            <h2>Fjallraven Kanken Classic - Red</h2>
                            <span class="price">Rp 790.000,00</span>
                        </div>    
                </div>
            </div>
    
        </div>
    
    </div>