<div class="card">
        <div class="card-place">
            <div class="card-image">
                <a href="">
                        <img src="https://via.placeholder.com/400x500" alt="">
                    
                </a>
                        
            </div>
            <div class="card-content">
                <div class="bottom">
                        <h5>Label</h5>
                        <h2>In Jakarta</h2>
                        <p>Start From Rp 300.000,00</p>

                </div>
                
            </div>
        </div>
    </div>