<div class="card">
    <div class="card-host-list card-host">
            <div class="card-image">
                    <img src="https://via.placeholder.com/375x225" alt="">
                    <div class="card-image-content">
                            <div class="top-left">
                                    <div class="location">Jakarta</div>
                                    <div class="duration">3 - 6 Hours</div>
                            </div>
                           
        
                    </div>
                   
        
                </div>
        <div class="card-content">
            <div class="row collapse">
                <div class="small-2 columns">
                    <div class="host-image">
                        <img src="https://via.placeholder.com/150x150" alt="">
                    </div>

                </div>
                <div class="small-7 columns">
                    <div class="exp-desc">
                        <h2>
                            <a href="">
                                River exploration with local at Singkawang River
                            </a>
                        </h2>

                    </div>


                </div>
                <div class="small-3 columns">
                    <div class="exp-price">
                        <div class="price-label">Start From</div>
                        <div class="price-value">Rp 700.000,00/ Session</div>

                    </div>


                </div>
            </div>

        </div>
    </div>

</div>