<div class="card">
    <div class="featured-experience card-experience">
        <div class="card-image">
            <img src="https://via.placeholder.com/375x225" alt="">


        </div>
        <div class="card-content">
            <div class="row collapse">

                <div class="small-12 columns">
                    <div class="exp-desc">
                        <h5>More than 300+ Experience</h5>
                        <h2>
                            <a href="">
                                Follow your dream as a partime travel blogger
                            </a>
                        </h2>
                        <p>This is brand tagline, culpa qui officia Excepteur sint occaecat cupidatat</p>

                    </div>


                </div>

            </div>

        </div>
    </div>

</div>