<div class="card-product-goods landscape">

        <div class="row">
            <div class="small-4 columns">
                    <div class="card-image">
                            <a href="">
                                    <img src="https://wia.id/media/catalog/product/cache/1/small_image/500x500/9df78eab33525d08d6e5fb8d27136e95/f/2/f23565-519_0.jpg" alt="">
        
                            </a>
                    </div>
            </div>
            <div class="small-8 columns">
                    <div class="card-content">
                            <div class="product-title">
                                    <h5 class="product-brand"><a href="">Brand</a></h5>
                                    <h2 class="product-name"><a href="">Brand - Product Name - Series Name</a></h2>
                            </div>
                            <div class="product-price">
                                <span class="final-price">Rp 300.000,00</span>
                                <span class="installment">(Rp 300.000,00 x 3 Month)</span>
                                
                            </div>
                            
                           
                        </div>
                </div>
        </div>
        
       
        
    </div>
    
    