<div class="card">
    <div class="featured-simple-brand card-brand">
        <div class="card-image">
            <a href="">
                    <img src="https://via.placeholder.com/375x225" alt="">
                
            </a>
                    
        </div>
        <div class="card-content">
            <div class="row">
                <div class="small-7 columns">
                    <div class="brand-name">
                        <h2>
                            <a href="">
                                Kajka
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="small-5 columns ">
                    <div class="cta text-right">
                        <a href="" class="tiny button no-border">Shop Now</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>