<div class="card">
    <div class="featured-host card-host">
            <div class="card-image">
                    <img src="https://via.placeholder.com/375x225" alt="">
                    <div class="card-image-content">
                            <div class="top-left">
                                    <div class="location">Jakarta</div>
                                    <div class="duration">3 - 6 Hours</div>
                            </div>
                            
        
                    </div>
                   
        
                </div>
        <div class="card-content">
            <div class="row collapse">
               
                <div class="small-8 columns">
                    <div class="exp-desc">
                        <h2>
                            <a href="">
                                River Exploration with locals at Singkawang river
                            </a>
                        </h2>

                    </div>


                </div>
                <div class="small-4 columns">
                    <div class="exp-price">
                        <div class="price-label">Start From</div>
                        <div class="price-value">Rp 700.000,00/ Session</div>

                    </div>


                </div>
            </div>

        </div>
    </div>

</div>